footer {
  background: linear-gradient(to right, #0011ff, #000000);
  color: #fff;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;

  width: 100%;
  padding: 12px 0;
      
  bottom: 0;            
  left: 0;
  z-index: 1000;

  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4);
  border-top: 2px solid #939bd7;
}

footer p {
  margin: 0;
  color: #ffffff;
}

@media (max-width: 600px) {
  footer {
    font-size: 12px;
    padding: 12px 8px;
  }
}
